
.container {
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 5px solid red;*/
}

.contentContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  align-items: start;
  min-height: 100vh;
  margin: 3rem;
  padding: 1.5rem;
  font-size: 3rem;
  /*
  background: yellow;
  border: 5px solid teal;*/
}

.carouselImage {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.productContainer{
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-gap: 5%;
}

.productListContainer {
  width: "100%";
  height: 100%;
  display: "flex";
  align-items: flex-start;
  flex-direction: "row";
  flex-wrap: "wrap";
  /*border: 5px solid forestgreen;*/
}
.wrapper { 
  width: 80%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  /*border: 5px solid rebeccapurple;*/
}

.cardView {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.link{
  text-decoration: none;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  .wrapper {
      width: 80%;
      padding: 1rem;
      font-size: 2rem;
  }
  .contentContainer {
    width: 100%;
    margin: 1rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
  }
  .contentContainer {
    width: 100%;
    margin: 1rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}