/* modal */
.wrapper{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 80%;
    height: 80%;
    background: rgba(27, 27, 27, 0.541);
    display: flex;
  }
  .overlay img {
    
    display: block;
    
    max-width: 100%;
    max-height: 100%;
    margin: 0.5rem auto;
    
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  }
  .overlay > span {
    position: inherit;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
  }
  .overlay_arrows_left {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: relative;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 999;
  }
  
  .overlay_arrows_left svg {
    width: 50px;
    height: 50px;
  }
  .overlay_arrows_right {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: relative;
    right: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
  }
  .overlay_arrows_right svg {
    width: 50px;
    height: 50px;
  }
  
